/* Estilos gerais */
.faq-container {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
  }
  
  .faq-title {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
    text-align: center;
  }
  
  /* Estilos do item de FAQ */
  .faq-item {
    border-radius: 8px;
    padding: 10px;
    margin-bottom: 10px;
    transition: all 0.3s ease;
  }
  
  .faq-item:hover {
    background-color: #a7a1a156;
  }
  
  .faq-question {
    font-weight: 600;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 18px;
  }
  
  .faq-answer {
    margin-top: 10px;
    color: #d4d4d4;
    font-size: 16px;
    display: none;
  }
  
  .faq-answer.open {
    display: block;
  }
  .faq-item button {
    background-color: #0a0a0a00;
    font-size: 20px;
    color: white;
    border: none;
  }

  .faq-item h3 {
    font-size: 20px;
  }