.prices {
    margin-top: 80px;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 25px;
}
.price {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
    padding: 10px;
    border-radius: 10px;
    color: white;
    border: 1px solid rgb(85, 85, 85);
    animation: price 1s 1;
    transition: 0.5s;
}

.price:hover {
    transform: translateY(-5px);
}

@keyframes price {

    0% {
        margin-top: 1000px;
    }
    100%{
        margin-top: 0px;
    }

}

@media screen and (max-width: 502px){

    .prices {
        margin-top: 100px;
        gap: 10px;
    }
    .price {
        width: 80%;
    }
}