/* Estilo da seção Redes */
.redes {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 40px;
    border-radius: 15px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
  }
  
  .rede {
    display: flex;
    align-items: center;
    gap: 15px;
    padding: 15px 25px;
    background: #d4d4d434;
    border-radius: 10px;
    cursor: pointer;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
  }
  
  .rede:hover {
    transform: scale(1.1);
    box-shadow: 0 0 15px rgba(0, 173, 238, 0.7);
  }
  
  .rede img {
    width: 40px;
    transition: transform 0.3s ease;
  }
  
  .rede h3 {
    color: white;
    font-size: 1.2rem;
    text-transform: uppercase;
  }
  
  @media (max-width: 768px) {
    .redes {
      padding: 20px;
    }
  
    .rede {
      padding: 10px 15px;
    }
  
    .rede img {
      width: 30px;
    }
  
    .rede h3 {
      font-size: 1rem;
    }
  }