.whitepaper .button {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 10px;
    padding: 10px;
    padding-left: 15px;
    padding-right: 15px;
    box-shadow: 1px 1px 2px 3px rgb(160, 160, 160);
    cursor: pointer;
    transition: 0.5s;
}
.whitepaper {
    padding: 20px;
    margin-bottom: 25px;
    overflow-y:visible;
}

.button:hover {
    transform:translateY(-10px);
}

.whitepaper-2 {
    position: fixed;
    background-color: rgba(39, 39, 43, 0.849);
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;
}

.whitepaper-2 button {
    width: 80%;
    height: 50px;
    font-size: 25px;
    border: none;
    border-radius: 10px;
    background-color: rgb(255, 94, 94);
    color: white;
    cursor: pointer;
    transition: 0.5s;
}
.whitepaper-2 button:hover{
    transform:translateY(-10px);
}

.whitepaper-2 p {
    text-align: center;
    padding: 10px;
    width: 80%;
    border-radius: 10px;
    transition: 0.5s;
    background-color: rgba(240, 248, 255, 0.514);
}
.whitepaper-2 p:hover{
    transform:translateY(-10px);
}