* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

p {
    color: white;
    text-shadow: -1px -1px 0 black,  
               1px -1px 0 black,  
              -1px  1px 0 black,  
               1px  1px 0 black; 
}

body {
    width: 100%;
}
.app {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

@media screen and (max-device-width: 768px) and (-webkit-min-device-pixel-ratio: 2) {
    body {
        background-image: url('./imgs/fundo4.jpg');
    }
    body::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: cover;
        background: rgba(0, 0, 0, 0.5); /* Ajuste o valor da opacidade */
        z-index: -1;
    }

}

.app {
    background: white;
    background-image: url('./imgs/fundo4.jpg');
    background: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url('./imgs/fundo4.jpg');
    background-size: cover; /* Cobre toda a tela */
    background-position: center; /* Centraliza a imagem */
    background-repeat: no-repeat; /* Evita repetição */
    background-attachment: fixed; /* Mantém fixa ao rolar (opcional) */
}

@media screen and (-webkit-min-device-pixel-ratio: 2) {
    .app {
        background-size: cover; /* Garante que a imagem cubra toda a tela */
        background-attachment: fixed; /* Mantém a posição ao rolar */
        background-position: center center; /* Centraliza melhor */
    }
    .app::before {
        content: "";
        position: absolute;
        top: 0; left: 0;
        width: 100%; height: 100%;
        background: rgba(0, 0, 0, 0.3); /* Camada escura sobre a imagem */
        z-index: -1;
    }
}
